*,
** {
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font-family: cursive;
}

#main h1 {
  color: #444;
  text-align: center;
}

#main {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
