*,
** {
  margin: 0px;
  padding: 0px;
}
body {
  background: #eee;
  font-family: cursive;
}

.App h1 {
  color: #444;
  text-align: center;
}

.App {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
